"*":
  "atom-material-ui":
    colors:
      abaseColor: "#ef5350"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 22
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "5ee69410-49ab-4669-a28c-259901b18a37"
  "one-dark-ui":
    tabSizing: "Minimum"
  "spell-check":
    useLocales: false
